@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection
{
    color: #fff;
    background-color: #007bff;
}

section
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
}

.wrapper
{
    max-width: 1100px;
    width: 100%;
    /* padding: 5px; background-color: red; */
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; background-color: green; */
}

.gallery .image
{
    padding: 7px;
    width: calc(100% / 3); /*isse flex wrap ki zarurat nhi padegi, or apne aap wo niche ajayege*/
}

.gallery .image span
{
    display: flex;/*isse image center me ayegi*/
    width: 100%; /*.image class ka 100% le lega*/
    overflow: hidden;/*image ko bahar nhi jane dega*/
    height: 250px;
}

.gallery .image img
{
    width: 100%;
    transition: all 0.9s ease;
}

.gallery .image:hover img
{
    transform: scale(1.2); /*span me overflow hidden ki waja se image bahar mnhi jayegi*/
}

/* *************preview box start********************* */
.previewbox
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.9);/*jo bhi width height dege uska 90% lega*/
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;/*opacity 0 mtlb wo waha he bs dihega mhi*/
    pointer-events: none;/*taki clk na ho us pr*/
    border-radius: 3px;
    padding: 0px 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    padding: 20px;
}

.previewbox.show/*ye show class java script se add hogi or preview box pr effect leke ayegi*/
{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
    transition: all 0.3s ease;
}

.previewbox .details
{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}

.previewbox .details .title
{
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.details .title p
{
    margin: 0px 5px;
}

/* .details .title p.currentimg
{
    font-weight: 500;
} */

.details .icon
{
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
}
.previewbox .imagebox
{
    display: flex;
    width: 100%;
    position: relative;
    /* padding: 5px; background: pink; */
}

.imagebox .slide
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    /* background: red; */
}

.slide.prev
{
    left: 0px;
}

.slide.next
{
    right: 0px;
}

.imagebox img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}

/* ****************shadow box start******************* */

.shadow
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none; /*taki gallery ke upar na dikhe or baad me ise java script se dikhayege */
    background: rgba(0,0,0,0.5);
}

/* ******************media query********************** */
@media(max-width: 1000px)
{
    .gallery .image
    {
        width: (100% / 2);
    }
}

@media(max-width: 600px)
{
    .gallery .image
    {
        width: 100%;
        padding: 4px;
    }
}
